<html>
  <header>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </header>
  <body>
    {{> ../components/menu}}
    <div class="w-full bg-slate-700"></div>
  </body>
</html>

<style>
  *,
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>
