<html>
  <head>
    <title>{{ name }} Recipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      style="
        border: 1px solid grey;
        margin: 20px;
        padding: 16px;
        border-radius: 4px;
        width: 400px;
      "
    >
      <h2>{{ name }}</h2>
      <p>ID: {{ id }}</p>
      <p>Author: {{ author }}</p>
      <p>Ingredients: {{ ingredients }}</p>
      <p>Description: {{ preparation_description }}</p>
      <p>Difficulty: {{ difficulty }}</p>
      <p>Category: {{ category_name }}</p>
      <p>Time: {{ time }}</p>
      <p>Cost: {{ cost }}</p>
    </div>
  </body>
</html>

<style>
  *,
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>
