<html>
  <head>
    <title>{{ name }} Recipe</title>
  </head>
  <body>
    <div
      style="
        border: 1px solid grey;
        margin: 20px;
        padding: 16px;
        border-radius: 4px;
        width: 400px;
      "
    >
      <h2>{{ name }}</h2>
      <p>ID: {{ id }}</p>
      <p>Author: {{ author }}</p>
      <p>Ingredients: {{ ingredients }}</p>
      <p>Description: {{ preparation_description }}</p>
      <p>Difficulty: {{ difficulty }}</p>
      <p>Category: {{ category_name }}</p>
      <p>Time: {{ time }}</p>
      <p>Cost: {{ cost }}</p>
    </div>
  </body>
</html>
