<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <div>
      <h3>Sign Up</h3>

      <form method="post" action="/signUp">
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
