<html>
  <header></header>
  <body>
    <div>
      <h3>Login</h3>

      <form method="post" action="/signIn">
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Sign In</button>
      </form>
    </div>
  </body>
</html>
