<div id="categoryDropdownContainer" class="bg-slate-700 p-4">
  <select id="categoryDropdown" class="bg-slate-700 text-white"></select>
</div>

<script>
  fetch('/categories')
    .then((response) => response.json())
    .then((data) => {
      const categoryDropdown = document.getElementById('categoryDropdown')
      categoryDropdown.id = 'dropdown'
      const doption = document.createElement('option')
      doption.text = 'Select a category'
      doption.value = 0
      categoryDropdown.add(doption)

      data.categories.forEach((category) => {
        const option = document.createElement('option')
        option.value = category.id
        option.text = category.name
        categoryDropdown.add(option)
      })
    })
    .catch((error) => console.error('Error fetching categories:', error))

  document
    .getElementById('categoryDropdownContainer')
    .addEventListener('change', function (e) {
      if (e.target.value == 0) {
        window.location.href = '/recipes'
      } else {
        window.location.href = `/recipes/byCategory/${e.target.value}`
      }
    })
</script>
